
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */